*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bolder;
    font-family: monospace;
}
body{
    background: rgba(168, 190, 150, 0.25);
    padding-bottom: 20%;
}
#menu_control{
    position: absolute;
    z-index: -2;
    opacity: 0;
}
header{
    width: 100%;
    height: 50px;
    z-index: 1;
    position: fixed;
}
.header{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #F4F9EB;
    position: absolute;
    align-items: center;
}
.logo{
    width: auto;
    height: auto;
    margin-left: 60px;
    text-decoration: none;
    font-size: 24px;
    margin-top: 5px;
}
.logo span{
    color: #5B4522;
    font-size: 16px;
    font-weight: bolder;
}
.logo a{
    text-decoration: none;
}
.logo img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    align-items: center;
}
.exit{
    width: 50px;
    height: 30px;
    display: block;
    position: absolute;
    top: 8px;
    right: 20px;
}
.menu_btn{
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 5px;
    left: 10px;
}
.menu_btn span{
    opacity: 0;
    width: 1px;
    height: 1px;
    display: block;
    overflow: hidden;
}
.menu_btn::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 36px;
    left: 2px;
    background-color: #A8BE96;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 10px 0px #A8BE96,
    0px -10px 0px #A8BE96;
}
nav{
    z-index: 1;
    width: 40%;
    height: calc(100vh-50px);
    background-color: #A8BE96;
    text-align: center;
    position: absolute;
    top: 50px;
    left: -100%;
    transition: .5s;

}
nav a{
    display: block;
    text-decoration: none;
    color: #5B4522 ;
    padding: 10px 20px;
    border-bottom: 1px solid #5B4522;
    background-image: linear-gradient(#5B4522, #5B4522);
    background-position: center bottom;
    background-size: 0 2.5px;
    background-repeat: no-repeat;
    transition: background-size 0.15s linear;
}
nav a:hover{
    background-size: 100% 2.5px;
}
#menu_control:checked ~ .header nav{
    left: 0;
}
.exit{
    color:#5B4522;
    border-radius: 5px;
    background-color: #FFFFFF;
    border-style: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.exit:hover{
  background-color: #FFEBA5;
  
}
.exit:active{
    transform: translateY(4px);
}
.back{
    margin-top: 15%;
    margin-left: 4%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
    background-color: white;
    color: #5B4522;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.backimg{
    width: 12px;
 
}






@media screen and (min-width: 768px) {
    .menu_btn{
        display: none;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav {
        display: flex;
        position: relative;
        left: 0;
        width: auto;
        height: auto;
        top: 0;
        background-color: transparent;
        font-size: 20px;
    }
    nav a{
        border-bottom: none;

    }
    .logo{
        margin-left: 10px;
        margin-top: 0;
        width: 30%;
    }
    .logo span{
        font-size: 24px;
    }
    .exit{
        width: 80px;
        height: 30px;
        display: block;
        position: relative;
        top: 0;
        text-align: center;
    }
    nav a:hover{
        background-size: 60% 2.5px;
    }
    .footer{
        position: relative;
    }

}